.radio-button .radio {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-border-insets: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: none;
}

.radio-button:selected .radio {
    -fx-background-color: transparent;  /* Same as unselected */
    -fx-padding: 0;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-border-insets: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: none;
}

.radio-button:armed .radio {
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-border-insets: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-effect: none;
}